@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
    <link type="image/png" sizes="16x16" rel="icon" href=".../icons8-house-16.png">
    <link type="image/png" sizes="96x96" rel="icon" href=".../icons8-house-96.png">
    var isMemberRole = User.IsInRole("Member");
    var isAdminRole = User.IsInRole("Admin");
}

<div class="text-center">

    <div class="text">Mathu Khai Che</div>
    <div class="slider">
        <div class="slide"> </div>
        <div class="slide"></div>
        <div class="slide"> </div>
        <div class="slide"></div>
        <div class="slide"> </div>
    </div>
        <h1 class="display-4">Welcome to Mathu Khai Che </h1>
    <p>Is Admin: @isAdminRole</p>
    <p>Is Member: @isMemberRole</p>
</div>


@* Specials Section *@
@*  
Start of adapted code, Muhib, 2022
Using a tutorial for the outline   https://www.youtube.com/watch?v=Q3MPM7fBO5U*@

    <section class="section">
        <div class="container">
            <div class="dishSelection">
                <div class="dishTop">
                    <h2>Our Specialties</h2>
                </div>
            <div  class="dishWrapper">

                @foreach (var tblFoodItems in Model.FoodItem.Take(3)){
                <div class="dishItem">
                    <div class="dishImage">
                            <img src="https://www.whiskaffair.com/wp-content/uploads/2019/05/Dahi-Puri-2-3.jpg" alt="pani puri" />
                    </div>
                    <div class="dishContent">
                            <h3>@tblFoodItems.Item_name</h3>
                    </div>
                    <div class="dishContentBottom">
                            <span class="dishPrice">@tblFoodItems.Price?.ToString("C2")</span>
                            @* <span class="addToCart">
                                <i class="ri-shopping-cart-2-fill"></i>
                                </span> *@
                            <button type="button" class="btn btn-light"><span class="bi bi-cart3"></span> </button>

                    </div>
                </div>
                }

            </div>
            </div>
        </div>
        <button>Full Menu</button>
    </section>




<section class="section">
    <h2>Our Story</h2>
    <p> dkhskjhf;iuey uryb  uyurbcyiuriebyuyrb rbyaoiubyriyaeurbyioa iurayb riuaoybr o8ayrb yapiuryiuea uieyr
        euki ryiuyriury  u tyuiayr  uyilag tu ai;tylktu utayktu ykahugkj 
    </p>
    <button>About Us</button>

</section>


<section class ="section"> 
    <p>2357 ravenstreet, Douglas, IM9</p>
    <p>call us: 07624 090812</p>

	<h2>Search</h2>
	<form method="post">
		<div>Search <input asp-for="Search" /> </div>
		<button type="submit" asp-page-handler="Search">Submit</button>
	</form>

</section>

@*End of adapted code *@