@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
    <link type="image/png" sizes="16x16" rel="icon" href=".../icons8-house-16.png">
    <link type="image/png" sizes="96x96" rel="icon" href=".../icons8-house-96.png">
}

<div class="text-center">

    <div class="text">Mathu Khai Che</div>
    
    <div class="slider" >
        <div class="slide"> </div>
        <div class="slide"></div>
        <div class="slide"> </div>
        <div class="slide"></div>
        <div class="slide"> </div>
    </div>

        <h1 class="display-4">Welcome to Mathu Khai Che </h1>
@*         <p>Eat some of our tasty food made fast and fresh before you eat someone's head! <a></a>.</p>
 *@
@* Specials Section *@
    <section class="section">
        <div class="container">
            <div class="dishSelection">
                <div class="dishTop">
                    <h2>Our Specialties</h2>
                </div>
            <div  class="dishWrapper">
                <div class="dishItem">
                    <div class="dishImage">
                            <img src="https://www.whiskaffair.com/wp-content/uploads/2019/05/Dahi-Puri-2-3.jpg" alt="pani puri" />
                    </div>
                    <div class="dishContent">
                        <h3>Pani Puri</h3>
                    </div>
                    <div class="dishContentBottom">
                        <span class="dishPrice">$6.00</span>
                            @* <span class="addToCart">
                                <i class="ri-shopping-cart-2-fill"></i>
                                </span> *@
                    </div>
                </div>

                    <div class="dishItem">
                        <div class="dishImage">
                            <img src="https://www.mygingergarlickitchen.com/wp-content/rich-markup-images/1x1/1x1-samosa-chaat.jpg" alt="Samosa Chaat" />
                        </div>
                        <div class="dishContent">
                            <h3>Samosa Chaat</h3>
                        </div>
                        <div class="dishContentBottom">
                            <span class="dishPrice">$8.00</span>
                            @* <span class="addToCart">
                            <i class="ri-shopping-cart-2-fill"></i>
                            </span> *@
                        </div>
                    </div>

                    <div class="dishItem">
                        <div class="dishImage">
                            <img src="https://cdn.apartmenttherapy.info/image/upload/f_jpg,q_auto:eco,c_fill,g_auto,w_1500,ar_1:1/k%2FEdit%2F2023-03-papdi-chaat%2Fpapdi-chaat-01" alt="Papdi Chaat" />
                        </div>
                        <div class="dishContent">
                            <h3>Papdi Chaat</h3>
                        </div>
                        <div class="dishContentBottom">
                            <span class="dishPrice">$6.00</span>
                            @* <span class="addToCart">
                            <i class="ri-shopping-cart-2-fill"></i>
                            </span> *@
                        </div>
                    </div>

            </div>
            </div>
        </div>

    </section>


</div>
